.page-Home {
  display: flex;
  flex-direction: column;
  height: 100%;
  .am-tabs {
    flex: auto
  }
  .am-tabs-default-bar-tab {
    font-size: 16px;
    font-weight: 600;
  }
  .am-tabs-default-bar-underline {
    width: 7% !important;
    transform: translateX(120%);
    border-color: #ff5f16;

  }
  }

